#resume-creation {
    color:green;
    font-size:2em;
    font-family: "Helvetica", sans-serif;
  }
  #my-education-paragraph {
    font-family: "Helvetica", sans-serif;
    font-size:1.3em;
    
  #work-skills {
      
    font-family: "Helvetica", sans-serif;
      font-size:1.3em;
    }
  
  h1 {
    background-color:lightblue;
  }
  
  #my-technical-skills {
    font-family: "Helvetica", sans-serif;
    font-size:1.3em;
  }
  

  
  